<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>welcome to weather app</p>
                    <h1>Get The Latest <span class="text">Weather </span>Info Of your City</h1>
                    <a href="/weather"><button>Check now</button></a>
                </div>
                <!-- right side div -->
                
    <!-- footer code -->
    {{>footer}}
</body>

</html>